body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cal{
    margin-top: 80px;
    width: 550px;
    height: 750px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 42px 28px 15px 0px rgba(0,0,0,0.2);
}
#result{
    width: 490px;
    height: 100px;
    text-align: end;
    font-size: 60px;
    border-radius: 5px;
    margin-top: 50px;
}
.fileira{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 550px;
    height: 70px;
    margin-top: 50px;
}

#cor1{
    background-color: rgb(139, 255, 158);
}
#cor2{
    background-color: rgb(230, 54, 54);
}
button{
    font-size: 25px;
    width: 110px;
    height:70px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.794);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}